@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');

.d-flex{
    display: flex;
}
.justify-content-between{
    justify-content: space-between;
}
.justify-center{
    justify-content: center;
}
.none{
    text-decoration: none;
}
.cursor-pointer{
    cursor: pointer;
}
.mt-48{
    margin-top: 48px;
}
.mt-24{
    margin-top: 24px;
}
.pt-24{
    padding-top: 24px;
}
.pb-48{
    padding-bottom: 48px;
}
.gap-56{
    gap: 56px;
}
.gap-40{
    gap: 40px;
}
.gap-16{
    gap: 16px;
}
.gap-8{
    gap: 8px;
}
.align-center{
    align-items: center;
}
body {
    background-color: #000;
    font-family: 'Public Sans', sans-serif;
    margin: 0px;
}
.head_tit{
    background: #3F7C80;
    font-size: 32px;
    font-weight: 700;
    display: inline-block; 
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text; 
    line-height: 42px;
    text-align: left;

}
.head_tit span{
    background: linear-gradient(41.09deg, #38CBF8 -3.41%, #09F5BD 84.31%, #51ABFF 98.56%);
    font-size: 32px;
    display: inline-block; 
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text; 
    font-weight: 700;
}
.home_sec{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.dt_title{
    background: #3F7C80;
    font-size: 32px;
    font-weight: 700;
    display: inline-block; 
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text; 
    line-height: 42px;
}
.dt_subtit{
    background: linear-gradient(41.09deg, #38CBF8 -3.41%, #09F5BD 84.31%, #51ABFF 98.56%);
    font-size: 32px;
    /* display: inline-block;  */
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text; 
    font-weight: 700;
}
.span{
    font-size: 20px;
    font-weight: 400;
    background: #A1DCEE;
    display: inline-block; 
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text; 
    text-align: center;
    width: 100%;
    margin: 0 auto;
    line-height: 30px;
}
button{
    padding: 16px 24px;
    height: 56px;
    border-radius: 60px;
    border: none;
    font-size: 16px;
}
.primary-btn{
    background: linear-gradient(41.09deg, #38CBF8 -3.41%, #09F5BD 84.31%, #51ABFF 98.56%);
    color: #001D1F;
}
.secondary-btn{
    background: linear-gradient(41.09deg, rgba(56, 203, 248, 0.2) -3.41%, rgba(9, 245, 189, 0.2) 84.31%, rgba(81, 171, 255, 0.2) 98.56%);
    color: #38CBF8;
    
}
.react{
    background: #61DAFB;
    display: inline-block; 
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text; 
    text-align: center;
    align-items: center;
}
.next{
    color: #FFFFFF;
    font-weight: 300;
}
.tailwind{
    background: #06B6D4;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text; 
}
.redux{
    background: #764ABC;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text; 
}
.bootstrap{
    background: #7711F8;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text; 
}
.javascript{
    background: #F5DE19;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text; 
}
.html{
    background: #F1662A;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text; 
}
.css{
    background: #2965F1;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text; 
}
h3{
    padding: 0px;
    margin: 0px;
}
.portfolio-tit{
    color: #FFFFFF;
    font-size: 24px;
    font-weight: 600;
}
p{
    color: #AFAFAF;
    font-size: 20px;
    font-weight: 400;
}

.card_gap{
    margin-top: 98px;
}
.container {
    text-align: center;
}
.profile-section {
    position: relative;
    display: inline-block;
    margin: 20px 0;
}

.profile-background {
    font-size:  10rem;
    font-weight: bold;
    background: #121e1f;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text; 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.profile-pic {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    border: 5px solid #09F5BD;
    z-index: 1;
    position: relative;
    margin-top: 50px;
}

.description {
    text-align: left;
    margin: 20px 0;
}
.mail-div{
    background: #262626;
    height: 56px;
    width: 56px;
    border-radius: 56px;
}
.contact-section {
    margin-top: 20px;
}
.contact-link {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #111111;
    border-radius: 50px;
    padding: 12px 24px;
    text-decoration: none;
    color: #38CBF8;
    transition: background-color 0.3s;
}
.contact-link:hover {
    background-color: #333;
}
.contact-icon {
    width: 46px;
    height: 46px;
    border-radius: 50%;
}
.arrow {
    font-size: 1.5rem;
}
.container-800 {
    text-align: center;
}
.tools-section {
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.row {
    display: flex;
    justify-content: space-around;
}
.tool {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.tool img {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
}
.section-gap{
    margin-top: 72px;
}
.section-pt{
    padding-top: 72px;
}
.div-gap{
    padding-top: 56px;
}
.secondary-sec{
    margin-top: 64px;
}
.shadow-bg{
    background: linear-gradient(178.26deg, #12EDC8 -75.06%, rgba(0, 0, 0, 0) 20.22%);
    margin: 32px;
}
.pt-gap{
    padding-top: 156px;
}
.sec-rw{
    padding-top: 72px;
}
@media only screen and (min-width: 1100px){
    .home_sec{
        width: 417px;
        margin:  0 auto;
    }
    .w-1024{
        width: 1024px;
        margin: 0 auto;
    }
    .container {
        max-width: 600px;
        margin: 0 auto;
    }
    .container-390{
        width: 276px;
        margin: 0 auto;
    }
    .container-800 {
        width: 800px;
        margin: 0 auto;
    }
}
/* Mobile Devices (max-width: 600px) */
@media only screen and (max-width: 999px) {
    .home_sec {
        padding: 0 16px;
        text-align: center;
    }
    .gap-40, .gap-56 {
        gap: 24px;
    }
    .head_tit, .dt_title, .dt_subtit {
        font-size: 24px;
        line-height: 32px;
    }
    .span {
        font-size: 16px;
        line-height: 24px;
    }
    .primary-btn, .secondary-btn {
        width: 100%;
        padding: 12px 16px;
        font-size: 14px;
    }
    .profile-section {
        margin: 16px 0;
    }
    .profile-pic {
        width: 100px;
        height: 100px;
    }
    .w-1024, .container {
        padding: 0px 24px;
    }
    .container-390{
        width: 290px;
        margin: 0 auto;
    }
    .section-pt{
        padding-top: 0px;
    }
    .project-section .d-flex{
        display: flex;
        flex-direction: column;
    }
    .project-section img{
        width: 100%;
    }
    .project-section h4{
        text-align: center;
    }
    .card_gap {
        margin-top: 52px;
    }
    .profile-section .gap-56{
        gap: 4px;
    }
    .portfolio-tit {
        margin: 4px;
        font-size: 22px;
    }
    .div-gap {
        padding-top: 18px;
    }
    .profile-pic {
        width: 96px;
        height: 96px;
    }
    .profile-background {
        font-size: 7rem;
    }
    .contact-icon {
        width: 36px;
        height: 36px;
    }
    .home_mt{
        display: flex;
        flex-direction: column;
        gap: 16px !important;
    }
    .head_tit{
        text-align: center;
    }
    .secondary-sec {
        margin-top: 40px;
    }
    .profile-sec .dt_subtit{
        margin: 0px;
    }
    .contact-icon {
        width: 40px;
        height: 40px;
    }
    .sec-rw {
        padding-top: 0px;
    }
    .shadow-bg p{
        font-size: 16px;
    }
    .shadow-bg{
        background: none;
    }
    .pt-gap {
        padding-top: 22px;
    }
    .mt-md{
        margin-top: 32px;
    }   
     .secondary-sec {
        margin-top: 8px;
    }
    p{
        font-size: 18px;
    }
}

